.list-group {
  max-height: 500px;
  overflow-y: auto;
}

.list-group-item:hover {
  background-color: grey;
}

.list-group-item {
  transition-delay: 20ms;
}

.list-group-item a {
  mix-blend-mode: difference;
}

html {
  scroll-behavior: smooth;
}

#listButton {
  text-align: right;
  padding-right: 1em;
}
